# Reactor mandatory settings
REACTOR_NAME=biofab-upload
# REACTOR_DESCRIPTION=
# REACTOR_ALIAS=reactor-nickname

# Docker settings
DOCKER_HUB_ORG=your_docker_registory_uname
DOCKER_IMAGE_TAG=biofab-upload
DOCKER_IMAGE_VERSION=0.1
